/* instructions de mise en forme générale*/
body {
	font-family:Verdana, "Arial", Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	background: white url(../image/fond.jpg) repeat;
}

/* instructions de mise en forme du document afin de positionner les éléments constitutifs de la page */
#conteneur {
	position: absolute;
	width: 100%;  /* le conteneur occupe 100% de la largeur de l'écran */
}

#entete {
	height: 80px;  /* hauteur de la zone d'entête : 80px */
        background: white ;
}

#contenu {
        position: absolute;
	left: 180px;  /* marge à  gauche */
	height:auto;  /* hauteur de l'élément */
	
	border-color: white;  /* couleur de la bordure */
	border-style:inset;   /* style de la bordure   */
	padding:5px;  /* marge intérieure de la bordure */
	top:5vw;
}

#conteneurmenu {
	border: 1px dashed red;
position: absolute;
width: 10em;
margin-left: 0.5vw;
top: 5vw;
padding: 1%;
left: 0px;

}

#pied {
	text-align:center;
	background-color:#FF6600;
}

/* mise en forme des titres de niveau 1, 2 et 3 */
h1 { 
	height: 60px; 
	text-align:center;
}

h2 { 
	margin-top: 14px; 
	font-size: 13px; 
	text-align: center; 
	font-style: italic; 
}

h3 { 
	margin-bottom: 14px; 
	font-size: 11px; 
	text-align: center; 
}

/* instructions concernant la mise en forme des images */
img {
	border:none;  /* aucune bordure autour */
}

/* mise en forme des paragraphes appartenant aux classes gauche, droite et centre */
.gauche {
	margin:10px;
	float:left;
}

.droite {
	margin:10px;
	float:right;
}

.centre {
	text-align:center;
}


/* mise en forme du texte contenu dans l'entete */
#entete p {
	text-align:center;
	color:#FF6600;
	font-size:3em;
	margin-top:5px;
	font-family: "Comic Sans MS", georgia, arial;
}

/* mise en forme des listes à  puces contenues dans le menu */
#conteneurmenu ul {
	margin:0px;
	padding:0px;
	list-style-image:url('../image/escargot2.jpg');
	list-style-position:inside;
}

#conteneurmenu li {
	margin-bottom: 50px;
font-family: "Comic Sans MS",georgia,arial;
font-size: 15px;
font-weight: 800;
}
#conteneurmenu li:last-child {
	margin-bottom:0px;
}

#conteneurmenu a {
	text-decoration:none;
	color:#FF6600;
}

/* mise en forme des lignes de séparation */
hr {
	margin-left : 60px;
	margin-right: 60px;
	color:#FF6600;

}


/* mise en forme des liens */
a {
	text-decoration:underline;
	color:black;
	font-style:italic;
}

/* mise en forme des liens quand ils sont survolés */
a:hover, #conteneurmenu a:hover {
	text-decoration: underline overline;
}


